root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,py}]
charset = utf-8

[*.py]
indent_size = 4

[*.{js,css,less,html,handlebars,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
