---
layout: base
---
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Les startups coopératives</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/#decouvrir">Découvrir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#financement">Financement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#communaute">Communauté</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#creer">Créer une startup coop !</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="intro">
  <div id="intro-inner">
    <h1>Les startups coopératives</h1>
    <h2>{{ page.title }}</h2>
    <p>{{ page.intro_text }}</p>
  </div>
</div>
{{content}}
<footer>
  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
  </p>
  <p>
    Ce site est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International</a>.
  </p>
  <p>
    Ce site a été créé par <a href="http://digicoop.io">Digicoop</a>
  </p>
</footer>
